
@{
    ViewBag.Title = "FeedBack";
    Layout = "~/HomePage.cshtml";
}


<h1 class="title-agile text-center">Mobile Store Contact Us</h1>
<div class="content-w3ls">
    <div class="content-top-agile">
        <h2>We Will COntact you Soon </h2>
        <h3><a href='@Url.Action("AdminLogin","AdminLogin")' style="color:white;">Back to Main</a></h3>

    </div>
</div>

   
